{% extends 'usuarios/baseU.html' %}
{% load static %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'usuarios/css/devoluciones-usuarios.css' %}" /> 
{% endblock %}

{% block page_id %}historial-devoluciones{% endblock %}

{% block content %}
<div class="contenedor-admin-devoluciones">
    <h2>Historial de Devoluciones</h2>

    {% if historiales %}
    <table>
        <thead>
            <tr>
                <th>#ID Devolución</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Estado Actual</th>
                <th>Estado Historial</th>
                <th>Fecha</th>
                <th>Admin</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% for h in historiales %}
            <tr>
                <td>#{{ h.id }}</td>
                <td>{{ h.usuario }}</td>
                <td>{{ h.producto }}</td>
                <td>{{ h.estado_actual }}</td>
                <td>{{ h.estado_historial }}</td>
                <td>{{ h.fecha|date:"d/m/Y H:i" }}</td>
                <td>{{ h.admin }}</td>
                <td>{{ h.comentario }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div>
        {% if historiales.has_previous %}
            <a href="?page={{ historiales.previous_page_number }}">« Anterior</a>
        {% endif %}

        {% for num in historiales.paginator.page_range %}
            {% if historiales.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if historiales.has_next %}
            <a href="?page={{ historiales.next_page_number }}">Siguiente »</a>
        {% endif %}
    </div>

    {% else %}
    <div>
        <p>No hay historial de devoluciones</p>
    </div>
    {% endif %}
</div>
{% endblock %}
